@{
	ViewBag.Title = "Guests";
}
<div class="guests">


	<h4>
		Hotel Accommodations
	</h4>
	<p>
		We have set up a group discount for our wedding guests at TBD. Reservations are available at (xxx)xxx-xxxx. Please mention the Falk-Lee wedding for the discounted rate of $TBD/night.
	<p>
		Hotel Name
		Street Address
		Chicago, IL Zip code
		(xxx)xxx-xxxx
		(map view)
	</p>
	</p>

	<h4>
		Registry
	</h4>
	<p>

	</p>

	<h4>
		Attire
	</h4>
	<p>
		The wedding is black tie optional.
	</p>

	<h4>
		Things to do nearby
	</h4>

	<h5>
		<a href="http://www.artic.edu/visit" target="_blank">
			Art Institute of Chicago
		</a>
	</h5>
	<p>
		Check out the newly-built modern wing or see the older classics. Wave hello to Natalya’s office across the street on the 14th floor of the Motorola Building.
	</p>

	<h5>
		<a href="http://www.cityofchicago.org/city/en/depts/dca/supp_info/millennium_park_-artarchitecture.html" target="_blank">
			Cloud Gate (aka The Bean) & Millenium Park
		</a>
	</h5>
	<p>
		This infamous sculpture and the surrounding parks make up part of Chicago’s “Emerald Necklace” - a series of parks and recreational areas along Chicago’s lakefront that are always open to the public, per urban designer/architect Daniel Burnham’s vision. If it is hot outside, be sure to see the spitting faces, known as Crown Fountain.
	</p>


	<h5>
		<a href="http://www.transitchicago.com/" target="_blank">CTA train in the Loop</a>
	</h5>
	<p>
		For a quick and cheap way to see the city, take a ride on the ‘L’ around the Loop on the Brown, Green, Pink, or Orange lines.
	</p>
	<h5>
		<a href="http://www.lpzoo.org/" target="_blank">
			Lincoln Park Zoo

		</a>
	</h5>
	<p>
		A free zoo open year round to the public

	</p>

	<h5>
		<a href="http://www.chicagobikes.org/pdf/lakefront_trail061608.pdf" target="_blank">
			Lakefront Trail
		</a>
	</h5>
	<p>
		Take a walk or run along the lakefront trail or enjoy the beaches, volleyball and tennis courts, and soccer fields with the city scenery in the background. Rent a Divvy bike if you feel like biking along the trail.
	</p>

	<h5>
		<a href="http://www.themagnificentmile.com/" target="_blank">
			The Magnificent Mile
		</a>
	</h5>
	<p>
		Walk the shops along Michigan Ave. north of the river. Stop in to the Signature Room at the John Hancock Center for a cocktail and great view of the city (the cocktails are cheaper than the tickets to the official observatory!)
	</p>

	<h5>
		<a href="http://www.architecture.org/rivercruise" target="_blank">

			Riverboat Cruise
		</a>
	</h5>
	<p>
		Take a riverboat on an architectural tour of the city with the Chicago Architecture Foundation (located in the 1st floor of Natalya’s office at 224 S. Michigan Ave.). Or visit the CAF for a walking tour!

	</p>
	<h5>
		<a href="http://www.choosechicago.com/articles/view/STATE-STREET-SHOPPING/66/" target="_blank">
			State Street Shopping

		</a>
	</h5>
	<p>
		Another great shopping area in the city, be sure to check out the beautiful Tiffany Ceiling inside the 8-story Macy’s (formerly Marshall Field’s)

	</p>


	<h4>
		Natalya & Matthew’s favorite bars, breweries and restaurants

	</h4>
	<h5>
		<a href="http://www.bigandlittleschicago.com/" target="_blank">
			Big & Little’s

		</a>
	</h5>
	<p>
		Cheap gourmet tacos in the River North or Lakeview neighborhoods

	</p>
	<h5>
		<a href="http://www.boilerroomlogansquare.com/
" target="_blank">
			Boiler Room

		</a>
	</h5>
	<p>
		Get the PB&J special: a slice of pizza, a can of PBR, and a shot of Jameson Whiskey for a great price

	</p>
	<h5>
		<a href="http://thedrchicago.com/" target="_blank">
			The Drawing Room

		</a>
	</h5>
	<p>
		If you feel like having a great cocktail in a laid back atmosphere, this is the place!

	</p>
	<h5>
		<a href="http://halfacrebeer.com/" target="_blank">
			Half Acre Brewery

		</a>
	</h5>
	<p>
		Hit the tap room for a beer or take a tour of the brewery (11:00 am on Saturdays).

	</p>
	<h5>
		<a href="http://hopleaf.com" target="_blank">
			Hopleaf

		</a>
	</h5>
	<p>
		Hopleaf has a huge selection of beers and ciders on tap. They also have great food!

	</p>
	<h5>
		<a href="http://www.hugosfrogbar.com/" target="_blank">
			Hugo’s Frog Bar

		</a>
	</h5>
	<p>
		Stop in for a cocktail and and great seafood or steak.

	</p>
	<h5>
		<a href="http://www.kumascorner.com/" target="_blank">
			Kuma’s

		</a>
	</h5>
	<p>
		A heavy metal burger bar with huge portions.

	</p>
	<h5>
		<a href="http://www.loumalnatis.com/" target="_blank">

			Lou Malnati’s
		</a>
	</h5>
	<p>
		If you need to get some of Chicago’s famous deep dish pizza while you’re in town, Lou’s is the place to go.

	</p>
	<h5>
		<a href="http://revbrew.com/home" target="_blank">
			Revolution Brewing

		</a>
	</h5>
	<p>
		If you want food, hit the brewpub in Logan Square. If you’re feeling a brewery tour, check out their brewery in Avondale (no food at the brewery - but there is hand shuffle board!)

	</p>
	<h5>
		<a href="http://www.portillos.com/" target="_blank">
			Portillo’s

		</a>
	</h5>
	<p>
		This is a great place for a famous Chicago style hot dog

	</p>
	<h5>
		<a href="http://www.sheffieldschicago.com/" target="_blank">

			Sheffields
		</a>
	</h5>
	<p>
		A great outdoor patio and craft beer list
	</p>
</div>