

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<h3>Her</h3>
			<p>
				This is Natalya. She is kinda cool.
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h3>Him</h3>
			<p>
				This is Matt. He is kinda cool.
			</p>
		</div>
	</div>
</div>

<p>
	Welcome to Matt and Natalya's homemade, handcrafted and some may say artisan website.
	Feel free to poke around. Enjoy!
</p>