@{
	ViewBag.Title = "Party";
}

<h4>Wedding Party</h4>


<div class="row">

	<div class="col-lg-6  col-md-6">

		<h4>Hers</h4>

		<div class="media">
			<a class="media-left" href="#">
				<img src="https://en.gravatar.com/userimage/43105084/28ae3eef799041b95bc308f6b81b7994.jpg" alt="...">
			</a>
			<div class="media-body">
				<div class="media-heading">
					<h4>Kelsey Reese</h4>
					<h5>
						Maid of Honor
					</h5>
					<div class="clearfix"></div>
				</div>
				<p>
					Kelsey and Natalya met in their first week as freshman at the University of Illinois. They hit it off instantly and roomed together throughout their undergraduate time at U of I. Kelsey then attended Washington State University in Pullman, WA, to get her Master’s in Archaeology. (CHECK WITH KELSEY WHAT DEGREE IS CALLED) Now she researches and digs in the southwestern U.S., while working on her great tan.
				</p>
			</div>
		</div>


		<div class="media">
			<a class="media-left" href="#">
				<img src="https://en.gravatar.com/userimage/43105084/28ae3eef799041b95bc308f6b81b7994.jpg" alt="...">
			</a>
			<div class="media-body">
				<div class="media-heading">
					<h4>
						Jenna Goebig
					</h4>
					<h5>
						Bridesmaid
					</h5>
					<div class="clearfix"></div>

				</div>
				<p>
					Jenna and Natalya met during their time as graduate students in the U of I Master's of Architecture program.  They paired up on several projects and clicked instantly.  Jenna's fiance Max is also in the wedding party.
				</p>
			</div>
		</div>

		<div class="media">
			<a class="media-left" href="#">
				<img src="https://en.gravatar.com/userimage/43105084/28ae3eef799041b95bc308f6b81b7994.jpg" alt="...">
			</a>
			<div class="media-body">
				<div class="media-heading">
					<h4>Jessica Savage</h4>
					<h5>Bridesmaid</h5>
					<div class="clearfix"></div>
				</div>
				<p>
				Jess and Natalya met through Matthew's roommate Eric, who is Jess's younger brother. They have spent many summers together visiting the Savage family lake house in Michigan.
				</p>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-md-6">

		<h4>His</h4>

		<div class="media">
			<a class="media-left" href="#">
				<img src="https://en.gravatar.com/userimage/43105084/28ae3eef799041b95bc308f6b81b7994.jpg" alt="...">
			</a>
			<div class="media-body">
				<div class="media-heading">
					<h4>Eric Savage</h4>
					<h5>Best Man</h5>
					<div class="clearfix"></div>
				</div>
				Some bio about here
			</div>
		</div>


		<div class="media">
			<a class="media-left" href="#">
				<img src="https://en.gravatar.com/userimage/43105084/28ae3eef799041b95bc308f6b81b7994.jpg" alt="...">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Groomsman: Andrew Constantino</h4>
				Some bio about here
			</div>
		</div>

		<div class="media">
			<a class="media-left" href="#">
				<img src="https://en.gravatar.com/userimage/43105084/28ae3eef799041b95bc308f6b81b7994.jpg" alt="...">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Groomsman: Michael Rook</h4>
				Some bio about here
			</div>
		</div>

		<div class="media">
			<a class="media-left" href="#">
				<img src="https://en.gravatar.com/userimage/43105084/28ae3eef799041b95bc308f6b81b7994.jpg" alt="...">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Usher: Justin Zieman</h4>
				Some bio about here
			</div>
		</div>

		<div class="media">
			<a class="media-left" href="#">
				<img src="https://en.gravatar.com/userimage/43105084/28ae3eef799041b95bc308f6b81b7994.jpg" alt="...">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Usher: Max Komnenich</h4>
				Max and Matthew met while Jenna and Natalya were partners on a project while getting their M.Arch.  While Jenna and Natalya were busy, Max and Matthew would have 'playdates' at The Chateau (the apartment of their friends)
			</div>
		</div>
	</div>


</div>