@{
	ViewBag.Title = "Proposal";
}
<div class="proposal">
	<h4>When</h4>
	<p>
		September 25, 2014
	</p>
	<h4>Where</h4>
	<p>
		Trump Hotel Chicago
	</p>
	<h4>How</h4>
	<p>
	<p>
		It was their fifth year dating anniversary when Matthew decided to pop the question.  Natalya had anticipated that this might happen on this special anniversary - but she got the timing wrong.  They went out to a fancy dinner at Topolobombo, where Natalya thought he was bound to ask.  Matthew had a different plan.
	</p>
	<p>
		After dinner, Matthew took Natalya to the rooftop at The Wit for an after-dinner cocktail.  It was there that he shared the news of their friends’ engagement that same day (see Jenna Goebig and Max Komenich in the wedding party).  Though Natalya was very happy for Max and Jenna, she grilled Matthew about when it would be their  turn. Since she thought the proposal would happen at dinner, all hope was lost at this point.
	</p>
	<p>
		Next, Matthew took Natalya to the Trump Hotel for a stop at the 16th floor roof top bar.  Though it was closed for a private event, he managed to keep his cool and take her to the bar on the 2nd floor.  The grilling continued.
	</p>
	<p>
		Finally, the night was coming to an end but Matthew had one last surprise. He took Natalya’s hand and pulled her to the elevator bank inside of Trump Hotel. He had reserved a room for the night on the 20th floor. The room was spectacular and there was a bottle of champagne waiting for them.
	</p>
	<p>
		Matthew took Natalya to the window and, with a beautiful view of the city beside them, got down on one knee and asked Natalya to marry him.  She said YES!
	</p>

	<img src="~/Content/images/trump.jpg" class="content" />
	
</div>