@{
	ViewBag.Title = "Us";
}
<div class="us-page">
	<div class="row">
		<div class="col-md-12">
			<h4>Her</h4>
			<p>
				Raised in Exeter, New Hampshire - a small town an hour north of Boston - Natalya moved to Champaign, Illinois in 2006 to study architecture at the University of Illinois. Six years later she received her Masters of Architecture and began the process of licensure.  Her goal is to be a licensed architect before the wedding!
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>Him</h4>
			<p>
				From Bolingbrook, Illinois - a Chicago suburb - Matthew went to college at Illinois State University to study information systems.  He graduated in 2010 and began life in the working world while Natalya continued in school.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h4>Their Story</h4>
			<p>
				They met on September 25, 2010 at the University of Illinois at the college apartment of Matthew’s high school friends.  Matthew was visiting from ISU to celebrate his friend Frank Leng’s birthday.  Natalya and her roommates stopped by because her roommate, Catie Crosby, was in the same medical fraternity as Frank.
			</p>
			<p>
			Matthew returned to U of I many weekends that semester to see Natalya - his school was only one hour away. She took a while to realize her interest in Matthew (despite the urging of her friends). She finally realized there was something special when he surprised her with a visit at the end of the semester and she was elated to see him.
			</p>
			<p>
				They continued seeing each other every weekend. Matthew graduated from ISU while Natalya stayed at U of I to get her master’s degree.  Separated now by a 2+ hour car ride, Matthew was still dedicated to seeing Natalya as many weekends as he could.  He was very happy when that period of their relationship was over!
			</p>
			<p>
				Now they both work in downtown Chicago, Matthew as a software developer at SAVO Group and Natalya as a (soon-to-be-) architect at VOA Associates. They can’t wait to get married and start their life together!
			</p>
		</div>
	</div>
</div>